<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fitbit Data Export</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.css" />
</head>
<body>
    <div class="row">
        <div class="small-12 columns">
            <h1>Fitbit Data Export</h1>
            <% if (!user) { %>
                <p>Please <a href="/auth/fitbit">sign in</a> with your fitbit account.</p>
            <% } else { %>
                <p><img src="<%= user._json.user.avatar150 %>"/> <%= user.displayName %></p>

                <% if (err) { %>
                    <p>Could not fetch fitbit data because: <%= JSON.stringify(err) %></p>
                    <p>This could be a bug in this app, or in Fitbit itself.</p>
                <% } else { %>
                    <p>Here is a sample of the data available using the
                        <a href="https://wiki.fitbit.com/display/API/API-Get-Time-Series">Fitbit Time Series API</a>.
                    </p>

                    <table>
                        <thead>
                        <tr>
                            <% timeSeriesKeys.forEach(function(key) { %>
                            <td><%= key %></td>
                            <% }) %>
                        </tr>
                        </thead>
                        <tbody>
                        <% timeSeries.forEach(function(timeSeriesRow) { %>
                        <tr>
                            <% timeSeriesKeys.forEach(function(key) { %>
                            <td><%= timeSeriesRow[key] %></td>
                            <% }) %>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>

                    <p><a href="/export.csv">Download all available data as a csv</a>. (This may be slow.)</p>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>
